<div class="card shadow mt-5">
  <div class="card-header bg-pit text-light">
      <h4>Tarefas</h4>
  </div>

  <div class="card-body">

    <div class="form-group mb-5">
      <label for="status" class="form-label">Status</label>

      <select class="form-select" [formControl]="statusControl" [compareWith]="compareFilter" (change)="filterByStatus(statusControl.value)" id="status" aria-label="Default select example">
        <option *ngFor="let statu of status" [ngValue]="statu">{{ statu.label }}</option>
      </select>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="todos$ | async as todos; else loading">
            <ng-container *ngIf="todos.length > 0; else noTodos">
              <tr *ngFor="let todo of todos">
                <th  class="text-center" scope="row">{{ todo.id }}</th>
                <td>{{todo.title }}</td>
                <td>{{todo.description }}</td>
                <td>
                  <span [appStatusBadge]="todo.status">{{todo.status | statusTransalater }}</span>
                </td>
                <td class="actions">
                  <div class="edit"  (click)="edit(todo)">
                    <span class="material-symbols-outlined">
                      edit
                    </span>
                  </div>
                  <div class="remove" (click)="remove(todo)">
                    <span class="material-symbols-outlined">
                      delete
                    </span>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-template #loading>
            <tr>
              <td colspan="7" class="text-center">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only"></span>
                  </div>
                  <span class="text-await">Aguarde...</span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #noTodos>
            <tr>
              <td colspan="7" class="text-center">Não há registros Disponiveis</td>
            </tr>
          </ng-template>
        </tbody>

      </table>
    </div>

  </div>

</div>
