<div class="card shadow mt-5">
  <div class="card-header bg-pit text-light">
      <h4>Adicionar Tarefa</h4>
      <span class="material-symbols-outlined cursor"  (click)="redirect()">
        arrow_back
      </span>
  </div>

  <div class="card-body">
      <form [formGroup]="formTodo">
        <div class="row g-3">

          <div class="col-12">
            <label for="title" class="form-label">Título <span class="link-danger">*</span></label>
            <input type="text" formControlName="title" class="form-control" [ngClass]="displayFieldCss('title')"  id="title" placeholder="Título">
            <app-error-message class="invalid-feedback" [displayError]="isFieldValid('title')" errorMsg="Campo Obrigatorio"></app-error-message>

          </div>
          <div class="col-12">
            <label for="description" class="form-label">Descrição</label>
             <textarea class="form-control" formControlName="description" id="description"  [ngClass]="displayFieldCss('description')" placeholder="Descrição" rows="3"></textarea>
             <app-error-message class="invalid-feedback" [displayError]="isFieldValid('description')" errorMsg="Campo Obrigatorio"></app-error-message>

          </div>

          <div class="col-12">

            <div class="row">
              <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3">
                <label for="status" class="form-label">Início</label>

                <input type="text" class="form-control mb-3" placeholder="Data de Início" bsDatepicker readonly  formControlName="dateCreate"
                  [bsConfig]="{
                    minDate: maxDate
                  }"
                />
              </div>
              <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group mb-3">
                <label for="status" class="form-label">Fim</label>
                <input type="text" class="form-control mb-3"
                       placeholder="Data de Conclusão" bsDatepicker readonly formControlName="dateConclusion"
                       [bsConfig]="{
                        minDate: maxDate
                      }"
                 />
              </div>
            </div>

          </div>

          <div class="col-12">

          <button class="btn btn-warning d-flex justify-content-center" (click)="onSubmit()" >
            <span class="material-symbols-outlined">
              add
            </span>
            Salvar Tarefa
          </button>
          </div>
        </div>
      </form>
  </div>
</div>
